  
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:replace="common :: boostrap-styles-link">
    <link rel="stylesheet" type="text/css" href="css/error.css"/>
    <script th:replace="common :: bootstrap-js"></script>
</head>
<body>
<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container white-div">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block text-light">500</span>
                <div class="mb-4 lead text-light">The server encountered an unexpected condition that prevented it from
                    fulfilling the request.
                </div>
                <a th:href="@{http://localhost:8080/}" class="btn btn-info text-center">Back to Home</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>

