<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewreport" content="width=device-width, initial-scale=1.0">
    <title>
        Zooom Zooooooooooom
    </title>
    <link th:replace="common :: boostrap-styles-link"/>
    <link th:replace="common :: raleway-font-link"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/home.css}" href="css/home.css"/>
</head>
<body>

<div class="container-fluid banner">
    <div class="row">
        <div class="col-md-12">
            <nav th:replace="header :: header-info"></nav>
        </div>
        <div class="col-md-8 offset-md-2 info">
            <h1 class="text-center">ZOOOOM FLIGHTS</h1>
            <p class="text-center">
                ANYWHERE WITH TRUST
            </p>
            <a href="#" class="btn btn-info text-center">GET STARTED</a>
        </div>
    </div>
</div>
</body>
</html>

