<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta name="viewreport" content="width=device-width, initial-scale=1.0">
    <title>
        Profile
    </title>
    <link rel="stylesheet" type="text/css" th:href="@{css/home.css}" href="http://localhost:8080/css/home.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{css/footer.css}" href="http://localhost:8080/css/footer.css">
    <link th:replace="common ::  ajax-style"/>
</head>
<body>
<div class="container-fluid banner">
    <div class="row">
        <div class="col-md-12">
            <nav th:replace="header :: header-info"></nav>
        </div>
        <div class="col-md-8 offset-md-2 info">
            <h1>User profile</h1>
            <div>
                <p>Email:
                    <span class="text-light" th:text="${user.email}"></span></p>
                <p>First name:
                    <span class="text-light" th:text="${user.firstName}"></span></p>
                <p>Last name:
                    <span class="text-light" th:text="${user.lastName}"></span></p>
            </div>
        </div>
    </div>
</div>
<footer th:replace="footer :: footer-info"></footer>
</body>
</html>

