<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{css/register.css}" href="register/home.css"/>
</head>
<body>
<div class="row justify-content-center align-items-center form-group">
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please sign up</h3>
                </div>
                <div class="panel-body">
                    <form th:action="@{/process-register}" method="post" th:object="${userDto}" role="form">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input th:field="*{firstName}" required type="text" name="first_name"
                                           id="first_name" class="form-control input-sm" placeholder="First Name"
                                           minlength="2">
                                    <p th:each="error: ${#fields.errors('firstName')}"
                                       th:text="${error}">Validation error</p>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input th:field="*{lastName}" required type="text" name="last_name" id="last_name"
                                           class="form-control input-sm" placeholder="Last Name" minlength="2">
                                    <p th:each="error: ${#fields.errors('lastName')}"
                                       th:text="${error}">Validation error</p>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <input th:field="*{email}" required type="email" name="email" id="email"
                                   class="form-control input-sm" placeholder="Email Address">
                            <p th:each="error: ${#fields.errors('email')}"
                               th:text="${error}">Validation error</p>
                        </div>

                        <div class="form-group">
                            <input th:field="*{password}" required type="password" name="password"
                                   id="password" class="form-control input-sm" placeholder="Password"
                                   minlength="8">
                            <p th:each="error: ${#fields.errors('password')}"
                               th:text="${error}">Validation error</p>
                        </div>

                        <input type="submit" value="Register" class="btn btn-info btn-block">

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

